// Colors

$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);
$darkgrey: rgba(0, 0, 0, .75);
$lightgrey: rgba(0, 0, 0, .5);
$textcolor: rgba(53, 53, 53, 1);
$brandorange: rgba(238, 150, 56, 1);
$brandblue: rgba(7, 129, 160, 1);
$lightblue: rgba(149, 201, 212, 1);
$darkblue: rgba(4, 69, 86, 1);
$cellblue: rgba(25, 54, 146, 1);
$zipr1: rgba(193, 224, 244, 1);
$zipr2: rgba(109, 191, 231, 1);
$zipr3: rgba(218, 200, 224, 1);
$zipr4: rgba(195, 165, 203, 1);
$zipr5: rgba(228, 230, 147, 1);
$zipr6: rgba(213, 219, 85, 1);
$zipr7: rgba(197, 198, 200, 1);

// fronts

$bodyregular: Arial,Helvetica,sans-serif;
$bodyblack: 'Arial Black','Arial Bold',Gadget,sans-serif;
$bodynarrow: 'Arial Narrow', Arial, sans-serif;
